<?xml version="1.0"?>
<model>
  <name>3DR DJI F450</name>
  <version>1.0</version>
  <sdf version='1.4'>dji_f450.sdf</sdf>

  <author>
   <name>Saifullah</name>
   <email>saif.rassoc@ncai.nust.edu.pk</email>
  </author>

  <description>
    This is a model of a DJI F450 Quadrotor.
  </description>
</model>
